footer{
    .footer-cont{
        @include distribucion(flex, center, center ,column);
        width: 100%;
        background: linear-gradient(#2c2c2c, transparent);
        .back-top{
            position: fixed;
            bottom: 0;
            right: 0;
            margin: 15px;
            z-index: 10;
            a{
                img{
                    width: 35px;
                }
            }
        }
        .footer-text{
            @include distribucion(flex, end, center, column);
            font-size: 12px;
            font-family: "Roboto", sans-serif;
            gap: 10px;
            margin: 20px 0 0 0;
            img{
                width: 50px;
            }
        }
        .redes-cont{
            @include distribucion(flex, center, center, row);
            margin: 40px 0 20px 0;
            gap: 40px;
            a{
                .redes{
                    width: 25px;
                }
            }
        }
    }
}