/*---HERO/INFO---*/

.home-background{
    background: linear-gradient(#1b1b1b, rgb(38, 38, 39), #1b1b1b);
    .hero{
        background-image: url(../img/background-home.jpeg);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        height: 100vh;
        @include distribucion(flex, center, center, column);
        h1{
            font-family: "Roboto", sans-serif;
            font-size: 22vw;
            text-transform: uppercase;
            color: $color-principal;
            cursor: default;
            align-self: center;
            transition: font-size 1s;
            &:hover{
                font-size: 23vw;
            }
        }
        h2{
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            color: $color-principal;
            cursor: default;
            align-self: center;
            &:nth-child(-n+5){
                opacity: 0;
            }
        }
    }
    .info{
        @include distribucion(flex, center, center, column);
        padding: 50px;
        h2{
            align-self: center;
            width: 70%;
            font-size: 40px;
            text-wrap: balance;
            text-align: center;
            padding: 30px;
        }
        p{
            align-self: center;
            font-size: 25px;
            text-wrap: balance;
            text-align: center;
            padding: 30px;
            width: 80%;
            a{
                color: #a85bc2;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

/*INTEGRANTES*/

.integrantes-cont-mobile {
    display: none;
}

.integrantes{
    @include distribucion(flex, center, center, column);
    .integrantes-titulo{
        font-size: 300%;
        width: 50%;
        color: $color-principal;
        text-align: center;
        border-bottom: 1px solid rgb(154, 154, 154);
        border-radius: 8px;
        font-weight: 700;
        margin: 20px auto 70px auto;
        padding: 10px 0;
        cursor: default;
    }
    .integrantes-cont{
        align-self: center;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        width: 70%;
        height: 380px;
        margin: 30px;
        transition: margin 1s;
        img{
            position: absolute;
            bottom: 0;
            width: 100%;
            z-index: 1;
        }
        .voz-img{
            position: absolute;
            top: -30%;
        }
        .text-cont{
            @include distribucion(flex, space-between, center, row);
            background-color: $color-secundario;
            border-radius: 30px;
            box-shadow: -10px 10px 5px 0px rgba(0, 0, 0, 0.105);
            height: 380px;
            h2{
                font-size: 45px;
                cursor: default;
                margin: 15px;
                z-index: 5;
                align-self: flex-end;
            }
            div{
                font-size: 22px;
                text-align: center;
                text-wrap: balance;
                align-self: center;
                width: 400px;
                cursor: default;
                background-color: $color-secundario;
                border-radius: 10px;
                margin: 20px;
                z-index: 5;
            }
        }
        .alt{
            flex-direction: row-reverse;
        }
    }
}


/*---SHOP---*/

main{
    .modal-shop{
        display: flex;
        justify-content: center;
        align-items:  end;
        @include distribucion(flex, center, end, row);
        background-color: $color-secundario;
        border-radius: 20px 20px 0 20px;
        margin: 10px;
        width: 200px;
        height: 50px;
        position: fixed;
        bottom: 0;
        right: 0;
        text-wrap: nowrap;
        font-size: 14px;
    }
    .shop-container{
        background: linear-gradient(#1b1b1b, rgb(53, 46, 14), #1b1b1b);
        .cards-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 0 100px 0;
            .section-name{
                width: 100%;
                height: 200px;
                color: #b3b3b3;
                border-bottom: 2px solid rgb(116, 116, 116);
                @include distribucion(flex, center, last baseline, row);
                font-size: 70px;
                position: relative;
            }
            .items-container{
                width: 400px;
                padding: 20px 50px;
                margin: 20px;
                a{
                    @extend %enlaces;
                    transition: color .5s;
                    img{
                        width: 100%;
                        border-radius: 10px 10px 0 0;
                    }
                    div{
                        background: linear-gradient(to top, rgba(93, 93, 93, 0.36), rgba(78, 78, 78, 0.294));
                        padding: 30px;
                        border-radius: 0 0 10px 10px;
                        h3{
                            font-size: 20px;
                            font-weight: 300;
                            padding: 10px 0;
                        }
                        h4{
                            font-size: 16px;
                            font-weight: 400;
                        }
                        p{
                            font-size: 14px;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}

/*---MUSICA---*/

section{
    .music-container{
        width: 100%;
        @include distribucion(flex, center, center, column);
        div{
            @include distribucion(flex, center, flex-end, row);
            height: 200px;
            width: 100%;
            h2{
                width: 50%;
                font-size: 50px;
                font-weight: 300;
                border-bottom: 2px solid white;
                text-align: center;
            }
        }
        .cont{
            @include distribucion(flex, center, center, row);
            height: 100%;
        }
        iframe{
            width: 70%;
            align-self: center;
            margin: 50px;
        }
    }
}

/*---GALERIA---*/

section{
    .galeria-titulo{
        @include distribucion(flex, center, center, row);
        height: 200px;
        text-align: left;
        font-size: 5vw;
        border-bottom: 2px solid rgba(221, 221, 221, 0.228);
        cursor: default;
    }
    .grid-container{
        display: grid;
        grid-template-columns: 30vw 30vw 30vw;
        grid-template-rows: .1fr .1fr;
        justify-content: center;
        background: linear-gradient(#1b1b1b, rgb(52, 21, 60), #1b1b1b);
        margin: 100px 0;
        .grid-item{
            width: 100%;
            height: 600px;
            padding: 20px;
            object-fit: cover;
            transition: padding .4s;
            &:hover{
                padding: 30px;
            }
            &:first-child {
                grid-column: span 2;
            }
            &:nth-child(3) {
                grid-column: span 2;
            }
            &:nth-child(4) {
                grid-column: span 1;
            }
            &:nth-child(5) {
                grid-row: span 1;
            }
            &:nth-child(8) {
                grid-column: span 3;
            }
            &:nth-child(9) {
                grid-column: span 3;
            }
            &:nth-child(10) {
                object-position: -140px 0px;
            }
            &:nth-child(11) {
                grid-row: span;
                height: 100%;
            }
            &:nth-child(12) {
                grid-row: span 2;
                height: 100%;
            }
            &:nth-child(13) {
                grid-column: span 2;
                height: 100%;
            }
            &:nth-child(14) {
                grid-column: span 2;
            }
        }
    }
}

/*---CONTACTO---*/

form{
    div{
        @include distribucion(flex, center, center, row);
        width: 100%;
        padding: 25px;
        fieldset{
            @include distribucion(flex, center, center, column);
            background-color: $color-secundario;
            border-radius: 10px;
            margin-top: 60px;
            width: 50%;
            .section-title{
                color: #b1b1b1;
                border: none;
                padding: 30px;
            }
            .form-input{
                @include distribucion(flex, flex-start, center, row);
                color: #ffffff;
                label{
                    font-size: 12px;
                    input{
                        border-radius: 10px;
                        border-style: none;
                        box-shadow: 1px 1px 1px 0 rgba(145, 142, 142, 0.205);
                        outline: none;
                        background: $color-secundario;
                        color: #d3d3d398;
                        width: 100%;
                        height: 100%;
                        padding: 5px;
                    }
                    select{
                        border-radius: 10px;
                        border-style: none;
                        box-shadow: 1px 1px 1px 0 rgba(145, 142, 142, 0.205);
                        outline: none;
                        background: $color-secundario;
                        color: #d3d3d398;
                        width: 100%;
                        height: 100%;
                        padding: 5px;
                        option{
                            color: #000;
                        }
                    }
                    textarea{
                        border-radius: 10px;
                        border-style: none;
                        box-shadow: 1px 1px 1px 0 rgba(145, 142, 142, 0.205);
                        outline: none;
                        background: $color-secundario;
                        color: #d3d3d398;
                        width: 100%;
                        height: 100%;
                        padding: 5px;
                        resize: none;
                        max-height: 200px;
                        font-family: "Roboto";
                        font-size: 11px;
                        font-style: italic;
                    }

                }
            }
            .checkbox{
                width: 100%;
                label{
                    font-size: 12px;
                    input{
                        width: 20px;
                    }
                }
            }
            div{
                label{
                    font-size: 12px;
                    .button-contacto{
                        background: rgba(158, 158, 158, 0.233);
                        border: none;
                        border-radius: 10px;
                        box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.205);
                        color: #ffffff;
                        padding: 10px 50px;
                        transition: color .3s, background .3s;
                        &:hover{
                            background: #ffffff;
                            color: rgb(0, 0, 0);
                        }
                    }
                }
            }
        }
    }
}
